.profile{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  color: var(--color);
  background-color: var(--secondary-background-color);
}


@media (width < 620px) {
  .profile{
    width: 95%;
    padding: 30px 10px;
  }
}

.profile .profile-image{
  width: 100%;
  aspect-ratio: 1/1;
  /* border-radius: 50%; */
  overflow: hidden;
  /* border: 5px solid var(--secondary-background-color); */
  /* position: relative; */

}

.profile .profile-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
/* 
.profile .change-photo{
  background-color: var(--secondary-background-color);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 65px;
}

.profile .change-photo .camera{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  display: grid;
  place-content: center;
  background-color: var(--primary-background-color);
  color: var(--color);
}

.profile .change-photo .camera:hover{
  background-color: var(--third-background-color);
} */

.profile .name{
  color: var(--color);
  text-align: center;
  font-size: 1rem;
  padding: 10px;
}

.profile .name h1{
  margin: 5px 0;
}

.profile .edit-btn,
.profile .see-friends-btn{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: var(--color);
  background-color: var(--primary-background-color);
  border-radius: 10px;
  font-size: 1.2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile .edit-btn:hover,
.profile .see-friends-btn:hover{
  background-color: var(--third-background-color);
}

.profile .bio{
  width: 100%;
  font-size: 1rem;
  margin: 10px 0;
  /* background-color: var(--secondary-background-color); */
}

.profile .bio > div{
  display: flex;
  margin: 10px;
  padding: 5px 0;
}

.profile .material-symbols-outlined{
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 10px;
  color: var(--color);
}

.posts{
  display: flex;
  flex-direction: column;
  align-items: center;
}