.profile{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  border-radius: 10px;
  color: var(--color);
  background-color: var(--secondary-background-color);
}


@media (width < 620px) {
  .profile{
    width: 95%;
    padding: 30px 10px;
  }
}

.profile .profile-image{
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;

}

.profile .profile-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}


.profile .name{
  color: var(--color);
  text-align: center;
  font-size: 1rem;
  padding: 10px;
}

.profile .name h1{
  margin: 5px 0;
}

.profile .edit-btn,
.profile .see-friends-btn{
  width: 100%;
  padding: 10px;
  text-decoration: none;
  margin: 10px 0;
  color: var(--color);
  background-color: var(--primary-background-color);
  border-radius: 10px;
  font-size: 1.2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile .edit-btn:hover,
.profile .see-friends-btn:hover{
  background-color: var(--third-background-color);
}

.profile .bio{
  width: 100%;
  font-size: 1rem;
  margin: 10px 0;
  /* background-color: var(--secondary-background-color); */
}

.profile .bio > div{
  display: flex;
  margin: 10px;
  padding: 5px 0;
}

.profile .material-symbols-outlined{
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 10px;
  color: var(--color);
}

.posts h2{
  width: 100%;
  text-align: center;
  margin: 20px 0 0px;
  background-color: var(--secondary-background-color);
  color: var(--color);
  padding: 10px;
  border-radius: 5px;
}

.posts{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Skeleton UI */

.skeleton-profile{
  width: 600px;
  margin-top: 10px;
  padding: 20px;
  background-color: var(--secondary-background-color);
}

@media (width < 620px) {
  .skeleton-profile{
    width: 100%;
    margin: 10px;
  }
}

.skeleton-photo,
.skeleton-profile-data > div{
  background-color: var(--primary-background-color);
}

.skeleton-photo{
  margin: 10px;
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.skeleton-profile-data{
  width: 100%;
  height: auto;
}

.skeleton-profile-data > div{
  width: 90%;
  height: 40px;
  margin: 20px 0;
  border-radius: 5px;
}