.requests{
  width: 600px;
}

@media (width < 620px){
  .requests{
    width: 95%;
  }
}

.requests .header{
  margin: 20px 0;
}

.requests .bold{
  font-size: 1.2rem;
}

.requests .small{
  font-size: .9rem;
}

.requests img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.requests .sent,
.requests .recieved{
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-background-color);
  color: var(--color);
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 12px 0;
  border-radius: 10px;
}

.requests .name ,
.requests .name{
  display: flex;
  align-items: center;
  gap: 10px;
}

.requests .sent .status{
  display: flex;
  align-items: center;
  gap: 15px;
}

.requests .switch-btns{
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.requests .switch-btns button{
  flex-grow: 1;
  background-color: var(--secondary-background-color);
  border-radius: 15px;
  padding: 15px;
  border: none;
  font-size: 1rem;
  color: var(--color);
}

.requests .switch-btns button:hover{
  background-color: var(--third-background-color);
}

.requests .recieved .btn-group button{
  padding: 10px;
  width: 90px;
  /* color: var(--secondary-background-color); */
  background-color: var(--secondary-background-color);
  margin: 0 5px;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  font-weight: 700;
}

.requests .recieved .btn-group button.accept{
  /* background-color: lawngreen; */
  border: 2px solid #BFDB38;
  color: #BFDB38;
}

.requests .recieved .btn-group button.accept:hover{
  background-color: #BFDB38;
  border: var(--secondary-background-color);
  color: var(--secondary-background-color);
}

.requests .recieved .btn-group button.decline{
  /* background-color: red; */
  border: 2px solid #EB1D36;
  color: #EB1D36;
}

.requests .recieved .btn-group button.decline:hover{
  background-color: #EB1D36;
  border: var(--secondary-background-color);
  color: var(--secondary-background-color);
}

.requests .delete{
  background-color: var(--primary-background-color);
  border-radius: 50%;
  padding: 8px;
  border: none;
}

.requests .delete:hover{
  background-color: var(--third-background-color);
}

.requests .delete .material-symbols-outlined{
  color: var(--color);
}

.requests .sent .accepted{
  color: #54B435;
  font-size: 1.3rem;
  font-weight: 700; 
}

.requests .sent .declined{
  color: #EB1D36;
  font-size: 1.3rem;
  font-weight: 700; 
}

/* skeleton UI */

.skeleton-user{
  display: flex;
  align-items: center;
  gap: 10px;
  height: auto;
  background-color: var(--secondary-background-color);
  margin: 10px 0;
  padding: 10px;
}

.skeleton-user .skeleton-account,
.skeleton-user .skeleton-name,
.skeleton-user .skeleton-btn{
  background-color: var(--primary-background-color);
  border-radius: 5px;
}

.skeleton-user .skeleton-account{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.skeleton-user .skeleton-name{
  flex-grow: 1;
  height: 35px;
}
.skeleton-user .skeleton-btn{
  width: 100px;
  height: 35px;
}