.post{
  /* min-width: 600px; */
  width: 600px;
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  margin: 10px 0;
  color: var(--color);
}

.tags{
  color: var(--blue);
  display: block;
}

.post .btn-group .liked{
  color: var(--blue);
}

@media (width < 620px){
  .post{
    width: 95%;
  }
}

.bold{
  font-weight: 700;
  margin: 3px;
}

.light{
  font-weight: 300;
}

.regular{
  border-left: 2px solid #aaa;
  padding: 5px 10px ;
}

.small{
  font-size: .8rem;
}

.head{
  display: flex;
  padding: 10px;
}

.name a{
  text-decoration: none;
  color: var(--color);
}

.post .account-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--third-background-color);
  display: grid;
  place-content: center;
  margin-right: 10px;
}

.info{
  padding: 10px;
}

.post img{
  width: 100%;
}

.post .image-container{
  position: relative;
}

.post button.save-post{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primary-background-color);
  color: var(--color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 3rem;
  font-weight: 100;
  display: grid;
  place-content: center;
}

.pressed{
  animation: btn-pressed 500ms;
}

@keyframes btn-pressed {
  from {
    transform: translate(-3px, 3px) scale(.8);
  }
  to{
    transform: translate(0, 0) scale(1);
  }
}

.post .save-post:hover{
  background-color: var(--third-background-color);
}

.post .data{
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  font-weight: 500;
  padding: 10px;
  color: var(--secondary-color);
}

.post .btn-group{
  display: flex;
  border-top: 1px solid #ccc;
}

.post .btn-group button{
  flex-grow: 1 ;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: .8rem;
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  color: var(--secondary-color)
}

.post .btn-group button:hover{
  background-color: var(--third-background-color);
}

.post .account-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

/* comments section */

.comments{
  border-top: 1px solid #ddd;
  padding: 10px;
}

.write-comment{
  display: flex;
  align-items: center;
}

/* .write-comment button:hover{
  color: var(--blue);
} */

.comments form{
  padding: 10px;
  background-color: var(--third-background-color);
  border-radius: 8px;
  width: 100%; 
  display: flex;
  align-items: flex-end;
}

.comments form textarea{
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: var(--third-background-color);
  font-size: 1rem;
  color: var(--color);
}

.comments form button{
  border: none;
  outline: none;
  background-color: var(--third-background-color);
}

.comments form button .material-symbols-outlined{
  color: var(--secondary-color);
}

.comments form button .material-symbols-outlined:hover{
  color: var(--blue);
}
/* each commment */

.comment{
  display: flex;
  margin: 10px 0;
}

.comment .title{
  margin-bottom: 10px;
}

/* .comment .title a{
  text-decoration: none;
  color: var(--color);
} */

.comment .msg{
  background-color: var(--third-background-color);
  padding: 10px;
  border-radius: 20px;
}