@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  /* background-color: #111; */
}

#root.light{
  --primary-background-color: #f0f2f5;
  --secondary-background-color: #fff;
  --color: #000;
  --secondary-color: #777;
}

#root.dark{
  --primary-background-color: #111;
  --secondary-background-color: #222;
  --color: #eee;
  --secondary-color: #999;  
}