@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  /* background-color: #f0f2f5; */
  /* background-color: #111; */
}

#root.light{
  --primary-background-color: #f0f2f5;
  --secondary-background-color: #fff;
  /* --third-background-color:#f0f2f5; */
  --third-background-color: #e0e2e5;
  --color: #242526;
  --secondary-color: #777;
  --blue: #42a5f5;
}

#root.dark{
  --primary-background-color: #18191A; /*111*/
  --secondary-background-color: #242526;/*#222*/;
  --third-background-color:#3a3b3c;
  --color: #ccc;
  --secondary-color: #999;  
  --blue: #42a5f5;
}